
<section class="home">
    <img [src]="imagehome" class="figure-img img-fluid rounded" alt="..." height="250px" width="250px">

    <div class="homecontent">
        <h1>Prince Tranportion</h1>
        <p>Prince Transportion use to help the driver.To get looding and unlooding any where in india. <br>Distributer can also track the product and driver, we delivery th product any where in india..</p>
    </div>
</section>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Prince Tranportation</h1>
        <p>Prince Transportion use to help the driver. To get looding and unlooding any where in india.<br> distributer can also track the product and driver, we delivery th product any where in india..</p>
        <p><a class="btn btn-primary btn-lg" routerLink="/product" role="button">Product  »</a></p>
    </div>
</div>

<div class="album ">
    <div class="container">
        <h1 class="text-center">Select The Range You Want Deliver Your Product</h1>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img [src]="imageCard1" class="figure-img img-fluid rounded" alt="...">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img [src]="imageCard2" class="d-block w-100" alt="...">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img [src]="imageCard3" class="d-block w-100" alt="...">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img [src]="imageCard4" class="d-block w-100" alt="...">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img [src]="imageCard5" class="d-block w-100" alt="...">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img [src]="imageCard6" class="d-block w-100" alt="...">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid bg-light pt-5 myclass">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <h4>About</h4>
                <p class="container my-5 about">
                    <font size="4">Prince Transportion use to help the driver.</font><br>
                    <font size="4">To get looding and unlooding any where in india.</font><br>
                    <font size="4">distributer can also track the product and driver,</font><br>
                    <font size="4">we delivery th product any where in india.</font><br><br><br>
                    <font size="4">Phone : 7075023256</font><br>
                    <font size="4">Email : shaikhanzala106@gmail.com</font><br>
                    <font size="4">twitter : @shaikhanzala9989</font><br>
                    <font size="4">Facebook : shaik hanzala</font><br>

                </p>
            </div>
            <div class="col-sm link">
                <h4>Quick Link</h4>
                <ul class="hell" style="list-style: none;">
                    <li class="pt-5">
                        <a href="/" >
                            <font size="4" color="black">Home</font>
                        </a>
                    </li>
                    <li class="pt-5">
                        <a href="/about">
                            <font size="4" color="black">About</font>
                        </a>
                    </li>
                    <li class="pt-5">
                        <a href="/registeration">
                            <font size="4" color="black">Registeration</font>
                        </a>
                    </li>
                    <li class="pt-5">
                        <a href="/contact">
                            <font size="4" color="black">Contact</font>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm">
                <h4>Contact us</h4>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div>
                        <textarea name="text" id="text" cols="80" rows="5"></textarea>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out before submit</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center mt-5">
        <font size="4.5">© 2020 Copyright : PrinceTranportation.com</font>
    </div>
</div>