<style>
    img {
        animation: slide 20s infinite;
    }
</style>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Prince Tranportation</h1>
        <p>Prince Transportion use to help the driver. To get looding and unlooding any where in india. distributer can also track the product and driver, we delivery th product any where in india..</p>
        <p><a class="btn btn-primary btn-lg" routerLink="/home" >Home  »</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm mt-5">
            <p class="mr-5">
                <font size="4">The <b>Indian Government</b> recently updated the traffic rules in India with the Motor Vehicle (Amendment) Act 2019. The new traffic rules came into effect from September 1st. Since then, the news and social media channels are abuzz with
                    cases of hefty fines being levied for offences that went unnoticed earlier. However, these rules are here to stay and will ensure driver, rider and pedestrian safety on the road in the long run.</font>
            </p>
        </div>
        <div class="col-sm">
            <figure class="figure mt-5 mr-5">
                <img [src]="image1" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption text-center">Traffic rules</figcaption>
            </figure>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm">
            <figure class="figure mt-5 ml-5">
                <img [src]="image2" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption text-center">U-Turn</figcaption>
            </figure>
        </div>
        <div class="col-sm mt-5">
            <p class="mr-5 mr-5">
                <font size="4">Taking a <strong>U-turn</strong> in a prohibited section, blocking free flow of traffic, not having the security number plates etc.A U-turn in driving refers to performing a 180° rotation to reverse the direction of travel. It is called
                    a "U-turn" because the maneuver looks like the letter U. In some areas, the maneuver is illegal, while in others, it is treated as a more ordinary turn, merely extended. In still other areas, lanes are occasionally marked "U-turn permitted"
                    or even "U-turn only."
                </font>
            </p>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm mt-5">
            <p class="mr-5">
                <font size="4">
                    <b>Speed limits</b> in India vary by state and vehicle type. In April 2018, the Union Ministry of Road Transport and Highways fixed the maximum speed limit on expressways at 120 km/h, for national highways at 100 km/h, and for urban
                    roads at 70 km/h for M1 category of vehicles. The M1 category includes most passenger vehicles that have less than 8 seats. State and local governments in India may fix lower speed limits than those prescribed by the Union Ministry.
                </font>
            </p>
        </div>
        <div class="col-sm">
            <figure class="figure ml-5">
                <img [src]="image6" class="figure-img img-fluid rounded" alt="..." height="250px" width="250px">
                <figcaption class="figure-caption text-center">Speed Limit</figcaption>
            </figure>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm">
            <figure class="figure mt-5 ml-5">
                <img [src]="image3" class="figure-img img-fluid rounded" alt="..." height="250px" width="250px">
                <figcaption class="figure-caption text-center">No Parking</figcaption>
            </figure>
        </div>
        <div class="col-sm mt-5">
            <p class="mr-5 mr-5">
                <font size="4">A <b>‘No standing or parking’</b> sign prohibits road users from stopping their vehicle in the area. While a ‘No Parking’ only prohibits users from leaving their vehicle parked and/or unattended, you are allowed to halt for small durations
                    and to drop off or pick up a passenger. The ‘No standing or parking’ sign though absolutely forbids you from stopping at any given time.
                </font>
            </p>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm mt-5">
            <p class="mr-5">
                <font size="4">
                    <b>No Entry</b> The fine for driving in a no entry zone is Rs 500 to Rs 1,000 and/or up to 3 months in prison. &nbsp; The fine for driving in a no entry zone is Rs 500 to Rs 1,000 and/or up to 3 months in prison.
                </font>
            </p>
        </div>
        <div class="col-sm">
            <figure class="figure ml-5">
                <img [src]="image7" class="figure-img img-fluid rounded" alt="..." height="250px" width="250px">
                <figcaption class="figure-caption text-center">No Entry</figcaption>
            </figure>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm">
            <figure class="figure ml-5">
                <img [src]="image9" class="figure-img img-fluid rounded" alt="..." height="250px" width="250px">
                <figcaption class="figure-caption text-center">No Carry Goods</figcaption>
            </figure>
        </div>
        <div class="col-sm mt-5">
            <p class="mr-5 mr-5">
                <font size="4"><b>Narrow road</b> road widens ahead This sign cautions the driver to be careful as the road ahead is narrow. This sign signifies that the road ahead is wide. The width of the road widens after this sign and thus traffic should adjust
                    accordingly.
                </font>
            </p>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm mt-5">
            <p class="mr-5">
                <font size="4">
                    <b>Road humb</b> A speed hump (also called a road hump, or undulation, and speed ramp) is a rounded traffic calming device used to reduce vehicle speed and volume on residential streets. ... Generally, speed humps have a traverse distance
                    of about 3.7 to 4.3 m (12 to 14 ft) and span the width of the road.
                </font>
            </p>
        </div>
        <div class="col-sm">
            <figure class="figure ml-5">
                <img [src]="image10" class="figure-img img-fluid rounded" alt="..." height="250px" width="250px">
                <figcaption class="figure-caption text-center">No Entry</figcaption>
            </figure>
        </div>
    </div>
</div>